<h2><%= @category.name  %></h2>

<% @category.posts.each do |post| %>
	<p>
		<%= link_to post.title, post_path(post) %><br>
		<%= post.description %><br>
		<strong> <%= post.comments.size %> comments</strong>
	</p>
<% end %>


