<h2>Category </h2>

<% @category.posts.each do |post| %>

	<p>
		<%= link_to post.title, post_path(post) %><br>
		<%= post.description %><br>
		<strong> <%= post.comments.size %> comments</strong>
	</p>

<div class="span12">
	<p class="lead"><%= link_to "All Posts", posts_path %> >> <%#= @show_category.name %></p>
</div>

<% end %>





